/**** new page css start  ****/
td.mttd1 {
  width: 34%;
}
td.mttd2 {
  width: 12%;
}
td.mttd3 {
  width: 54%;
}
td.mttd1 a {
  color: #2789ce !important;
  font-size: 12px;
  font-weight: 700;
}

td.mttd1 i {
  color: #e4c41e !important;
  font-size: 16px;
  padding-top: 6px;
  padding-right: 0;
}

.commonbtn {
  font-weight: 700;
  padding: 0 5px;
  background-color: #0a92a5;
  font-style: italic;
  color: #fff;
  border-radius: 4px;
}
td.mttd2 span {
  display: block;
  font-size: 11px;
}
.mat-stat {
  color: green;
  font-size: 12px !important;
}

a.blue_btn {
  background: #72bbef;
  color: #000;
}
a.pink_btn {
  background: #faa9ba;
  color: #000;
}

.betbox {
  width: 33.33%;
  display: inline-block;
}

.bet_table table tr td span {
  display: block;
}

.td_btn span {
  font-weight: 500;
}
.bet_table .table tbody td a.td_btn {
  padding: 3px 2px;
  border-radius: 0;
  width: 50%;
  font-size: 10px;
}
.bet_table a {
  color: #005baa;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
a.td_btn {
  color: #000 !important;
  cursor: pointer;
  float: left;
  font-weight: 700;
  height: 56px;
  padding: 10px 2px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.bet_table table td.team_name {
  width: 35%;
  padding: 6px 10px !important;
}
.top_xtow {
  background: #ededed;
}
.bet_table table {
  margin: 0;
  color: #000;
  font-size: 13px;
}
.newdesign .bet_table {
  border: none;
}
.bet_table.table-bordered table tr td {
  border: 0px !important;
  padding: 0px 0px 0px 5px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd !important;
}

.bet_table table tr td span.ng-binding.mat-stat {
  color: green;
}
.bet_table table tr td span i[style="color: green;"] {
  font-size: 21px;
  padding-right: 5px;
  line-height: 30px;
  vertical-align: middle;
}
.right_atspartMid h1 {
  font-size: 21px;
}
.binding {
  background: linear-gradient(#184438 0, #14805e 80%);
  color: #ffffff;
  font-weight: 700;
  font-size: 12px !important;
  line-height: 25px;
  padding-left: 10px;
  margin-bottom: 0;
  padding-top: 3px;
}

.inplay .sport_blk {
  background: #fff;
  border: 1px solid #ddd;
  padding: 25px 0px 0px 0px;
  margin-bottom: 10px;
}

.odsallmat_part tbody {
  width: 100%;
  float: left !important;
}
.betright {
  text-align: center;
}
.betbox {
  width: 110px;
  text-align: center;
  padding: 3px 0 0px 7px;
  display: inline-block;
  font-weight: 700;
}
i.fa.fa-play-circle {
  font-size: 21px;
  padding-right: 5px;
  line-height: 30px;
  vertical-align: middle;
}

.betright a:hover {
  text-decoration: none;
}

// Games Icons

// Games Icons

.casinoicons {
  position: relative;
  // background-color: #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  min-width: 150px;
  // border: 4px solid #000;
  cursor: pointer;
}
.casinoicons img {
  max-width: 140px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.casinoicons-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  color: #fff;
  padding: 5px;
  margin: 0px;
  bottom: -15px;
  text-align: center;
  font-weight: bold;
  border-radius: 0px 0px 4px 4px;
  font-size: 11px;
  background-color: #1b5a7f;
}
@keyframes blinkcasino {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.casino {
  position: absolute;
  top: -25px;
  right: -25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.new-launch {
  color: #fff;
  animation: blinkcasino 0.8s linear infinite;
}
.coming-soon.casino img,
.new-launch.casino img {
  width: 100%;
}

.m-r-20 {
  margin-right: 20px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.d-inline-block {
  display: inline-block !important;
}
@keyframes inPlayBlink {
  0% {
    color: red;
  }
  50% {
    color: rgb(17, 101, 77);
  }
  75% {
    color: #152869;
  }
  100% {
    color: red;
  }
}
.inPlayAnim {
  animation: inPlayBlink 1s ease-in-out 0s infinite forwards normal;
}
.casino-outer-wrapper {
  background-image: url("../../../../assets/casinoicons/casinobg.png");
  background-size: contain;
  background-attachment: fixed;
  margin-left: 1px;
  padding: 15px;
  .casino-img-wrapper {
    background: linear-gradient(-180deg, #14805e 0, #184438 100%);
    //prettier-ignore
    clip-path: polygon( 84.055% 72.197%, 84.055% 72.197%, 86.147% 69.885%, 88.005% 67.632%, 89.628% 65.439%, 91.016% 63.306%, 92.169% 61.232%, 93.086% 59.218%, 93.767% 57.264%, 94.211% 55.369%, 94.418% 53.534%, 94.388% 51.759%, 94.388% 51.759%, 94.171% 49.997%, 93.807% 48.215%, 93.298% 46.411%, 92.642% 44.586%, 91.841% 42.741%, 90.894% 40.874%, 89.802% 38.987%, 88.563% 37.078%, 87.18% 35.149%, 85.651% 33.198%, 85.651% 33.198%, 84.007% 31.24%, 82.279% 29.296%, 80.466% 27.368%, 78.569% 25.454%, 76.586% 23.555%, 74.519% 21.67%, 72.366% 19.799%, 70.128% 17.943%, 67.805% 16.1%, 65.397% 14.27%, 65.397% 14.27%, 62.976% 12.517%, 60.604% 10.892%, 58.282% 9.395%, 56.011% 8.027%, 53.789% 6.787%, 51.618% 5.677%, 49.498% 4.695%, 47.429% 3.842%, 45.411% 3.117%, 43.443% 2.523%, 43.443% 2.523%, 41.562% 2.05%, 39.812% 1.694%, 38.192% 1.453%, 36.703% 1.327%, 35.344% 1.317%, 34.115% 1.421%, 33.017% 1.64%, 32.048% 1.973%, 31.21% 2.421%, 30.501% 2.983%, 30.501% 2.983%, 29.838% 3.683%, 29.126% 4.536%, 28.363% 5.542%, 27.552% 6.701%, 26.691% 8.012%, 25.78% 9.476%, 24.821% 11.094%, 23.811% 12.865%, 22.753% 14.789%, 21.645% 16.866%, 21.645% 16.866%, 20.561% 19.054%, 19.565% 21.321%, 18.657% 23.666%, 17.837% 26.09%, 17.107% 28.593%, 16.465% 31.175%, 15.913% 33.836%, 15.45% 36.576%, 15.078% 39.395%, 14.796% 42.294%, 14.796% 42.294%, 14.587% 45.219%, 14.444% 48.136%, 14.367% 51.047%, 14.356% 53.95%, 14.412% 56.845%, 14.534% 59.733%, 14.722% 62.613%, 14.978% 65.485%, 15.3% 68.348%, 15.688% 71.203%, 15.688% 71.203%, 16.163% 73.998%, 16.751% 76.672%, 17.455% 79.224%, 18.272% 81.656%, 19.205% 83.967%, 20.252% 86.158%, 21.415% 88.229%, 22.692% 90.179%, 24.085% 92.01%, 25.592% 93.722%, 25.592% 93.722%, 27.198% 95.236%, 28.894% 96.499%, 30.68% 97.509%, 32.556% 98.266%, 34.522% 98.771%, 36.578% 99.023%, 38.723% 99.022%, 40.957% 98.767%, 43.28% 98.259%, 45.692% 97.496%, 45.692% 97.496%, 48.051% 96.635%, 50.205% 95.841%, 52.154% 95.113%, 53.898% 94.452%, 55.437% 93.857%, 56.771% 93.328%, 57.901% 92.864%, 58.825% 92.466%, 59.544% 92.131%, 60.059% 91.862%, 60.059% 91.862%, 60.5% 91.607%, 61.01% 91.307%, 61.589% 90.963%, 62.237% 90.573%, 62.953% 90.138%, 63.738% 89.659%, 64.591% 89.134%, 65.512% 88.566%, 66.502% 87.953%, 67.56% 87.295%, 67.56% 87.295%, 68.703% 86.533%, 69.959% 85.603%, 71.328% 84.507%, 72.81% 83.246%, 74.404% 81.818%, 76.111% 80.224%, 77.929% 78.465%, 79.859% 76.541%, 81.901% 74.451%, 84.055% 72.197% );
    width: 100%;
    height: 16vh;
    border-radius: 20px;
  }
  .inner-img-wrapper {
    position: absolute;
    width: 87%;
    height: 14vh;
    top: 16px;
    left: 14px;
    border-radius: 20px;
    background: linear-gradient(-180deg, #14805e 0, #184438 100%);
    //prettier-ignore
    clip-path: polygon( 96.85% 20.615%, 96.85% 20.615%, 95.756% 18.591%, 94.507% 16.684%, 93.103% 14.894%, 91.544% 13.221%, 89.828% 11.665%, 87.958% 10.227%, 85.932% 8.906%, 83.751% 7.702%, 81.414% 6.615%, 78.922% 5.645%, 78.922% 5.645%, 76.362% 4.769%, 73.838% 3.966%, 71.346% 3.233%, 68.889% 2.573%, 66.464% 1.984%, 64.073% 1.466%, 61.714% 1.02%, 59.388% 0.646%, 57.095% 0.343%, 54.833% 0.112%, 49.102% 0.004%, 49.102% 0.004%, 47.246% 0.021%, 45.251% 0.124%, 43.118% 0.312%, 40.846% 0.587%, 38.434% 0.948%, 35.883% 1.394%, 33.193% 1.927%, 30.362% 2.545%, 27.391% 3.249%, 24.279% 4.039%, 24.279% 4.039%, 21.212% 4.933%, 18.349% 5.961%, 15.69% 7.124%, 13.236% 8.421%, 10.986% 9.854%, 8.94% 11.422%, 7.099% 13.125%, 5.462% 14.965%, 4.03% 16.941%, 2.802% 19.053%, 2.802% 19.053%, 1.794% 21.262%, 1.01% 23.541%, 0.45% 25.891%, 0.113% 28.311%, -0% 30.801%, 0.11% 33.362%, 0.443% 35.993%, 1% 38.694%, 1.779% 41.465%, 2.781% 44.307%, 2.781% 44.307%, 3.945% 47.177%, 5.197% 50.034%, 6.538% 52.878%, 7.967% 55.709%, 9.484% 58.526%, 11.09% 61.329%, 12.786% 64.118%, 14.57% 66.894%, 16.443% 69.656%, 18.405% 72.403%, 18.405% 72.403%, 20.412% 75.087%, 22.404% 77.647%, 24.384% 80.081%, 26.35% 82.391%, 28.302% 84.577%, 30.242% 86.638%, 32.167% 88.575%, 34.079% 90.388%, 35.978% 92.078%, 37.863% 93.643%, 37.863% 93.643%, 39.721% 95.054%, 41.525% 96.293%, 43.274% 97.36%, 44.97% 98.255%, 46.611% 98.978%, 48.197% 99.528%, 49.729% 99.905%, 51.207% 100.11%, 52.629% 100.141%, 53.997% 100%, 53.997% 100%, 54.871% 99.804%, 55.867% 99.464%, 56.985% 98.979%, 58.224% 98.349%, 59.586% 97.575%, 61.069% 96.657%, 62.676% 95.594%, 64.405% 94.387%, 66.258% 93.035%, 68.234% 91.539%, 68.234% 91.539%, 70.25% 89.915%, 72.238% 88.182%, 74.196% 86.34%, 76.125% 84.387%, 78.024% 82.323%, 79.894% 80.149%, 81.734% 77.864%, 83.546% 75.468%, 85.327% 72.961%, 87.08% 70.342%, 87.08% 70.342%, 88.761% 67.676%, 90.33% 65.018%, 91.787% 62.366%, 93.131% 59.721%, 94.364% 57.083%, 95.484% 54.452%, 96.493% 51.829%, 97.39% 49.212%, 98.175% 46.604%, 98.849% 44.003%, 98.849% 44.003%, 99.379% 41.432%, 99.747% 38.913%, 99.953% 36.446%, 99.995% 34.03%, 99.876% 31.666%, 99.595% 29.354%, 99.151% 27.092%, 98.546% 24.882%, 97.779% 22.723%, 96.85% 20.615% );
  }
}
