
<div class="right_atspart" >

   <h1 class="binding"> Change Password</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="chagnepass_innerbox">
      <form [formGroup]="chanPassForm"  (ngSubmit)="changePassword()">

        <div class="form_row" >
          <div class="form_box  col-sm-12">
            <label>Old Password</label>
            <input type="password" name="old_password" formControlName="old_password" class="input-box" [(ngModel)]="loginUserData.old_password"  md-autofocus required  >
            <p class="alert alert-danger rightbarValidate" *ngIf="chanPassForm.controls.old_password.errors?.required && chanPassForm.controls.old_password.touched">Password is required</p>

          </div>
          <div class="form_box  col-sm-12">
            <label >New Password</label>
            <input type="password" name="newpassword" formControlName="newpassword"  class="input-box" [(ngModel)]="loginUserData.newpassword"    required>
            <p *ngIf="chanPassForm.controls['newpassword'].invalid && (chanPassForm.controls['newpassword'].dirty ||  chanPassForm.controls['newpassword'].touched)"
               class="alert alert-danger rightbarValidate">
              <span *ngIf="chanPassForm.controls['newpassword'].errors.required">   New   Password is required</span>
              <span *ngIf="chanPassForm.controls['newpassword'].errors.pattern">
New Password must contain must be 6 characters, 1 upper case letter, number           </span>
            </p>

          </div>
          <div class="form_box  col-sm-12">
            <label >Renew Password</label>
            <input type="password" name="Renewpassword" formControlName="Renewpassword" class="input-box" [(ngModel)]="loginUserData.Renewpassword"  required>
            <p class="alert alert-danger rightbarValidate" *ngIf="chanPassForm.value.newpassword !== chanPassForm.value.Renewpassword">Password does not match</p>
          </div>

        </div>

        <div class="form_box  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button type="submit" class="btn btn-primary"   >Submit</button>
        </div>




      </form>


    </div>
  </div>
  </div>
</div>





