.chagnepass_innerbox input {
  width: 50%;
  display: inline-block;
  height: 44px;
  margin-bottom: 20px;
}

.chagnepass_innerbox label {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.chagnepass_innerbox {
  width: 100%;
  display: inline-block;
  padding: 40px 0px;

}
