<div class="right_atspartMid ng-scope">
  <div class="padding">
    <div class="col-md-12 inplay">
      <div class="sport_blk newdesign">
        <div *ngIf="SportId == -101" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-5.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-6.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-7.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-8.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-9.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-10.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-11.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-12.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/BetConstruct/bc-13.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SportId == -102" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-5.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-6.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-7.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-8.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-9.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Evolution/ev-10.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SportId == -103" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-5.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-6.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-7.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-8.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Ezugi/ez-9.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SportId == -104" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-5.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-6.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-7.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-8.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/vg/vg-9.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SportId == -105" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Super-Spade-Games/ssg-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Super-Spade-Games/ssg-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Super-Spade-Games/ssg-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/Super-Spade-Games/ssg-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="SportId == -106" class="row mobile-scroll">
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/xpg/xpg-1.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/xpg/xpg-2.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/xpg/xpg-3.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/xpg/xpg-4.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="livecasino-box">
              <div class="btn15">
                <img src="assets/Statics/xpg/xpg-5.jpg">
                <div class="ovrly"></div>
                <div class="buttons">
                  <a class="fa fa-link blue-btn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>