.footer_area {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #0f2327;
  padding: 18px 15px;
  color: #fff;
  z-index: 99999;
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 12px;
}
.footer_nav {
  display: inline-block;
}


.trmspop {
  padding: 10px;
}
.modal-content {
  padding: 15px;
}
.terms_footer ul li {
  display: inline-block;
}
ul, li {
  margin: 0;
  list-style-type: none;
}

