<header>
  <div class="header_main">
    <div class="boxed-layout-wrapper">
      <div class="mainlogo_left">
        <div class="menu_hiddenicon">
          <i class="fa fa-bars" (click)="clickOnLogin()"></i>
        </div>
        <a (click)="clickOnLogin()"><img src="{{ logo }}" alt="logo" /></a>
      </div>
      <div class="mainheader_right mb-0">
        <div class="headerinner_right mb-0">
          <ul class="mb-0">
            <li>
              <p (click)="clickOnLogin()" class="btn btn-danger btn-md mb-0">
                Login
              </p>
            </li>
            <!-- <li class="nav-item dropdown no-arrow mx-1 notifications" (click)="getAllNotification();showsubmenus1();">
              <a><i class="fa fa-bell fa-fw"></i><span class="" *ngIf="notificationListCount != 0">
                  <h6 [ngClass]="{'notificationCount':notificationListCount != 0}">{{notificationListCount}}</h6>
                </span></a>
              <div class="dropdown-menu dropdown-menu-right show " [hidden]="!showsubmenu1">
                <span *ngFor="let message of notificationList">{{message.message}}</span>
              </div>
            </li> -->

            <!-- <li><a (click)="logout()" class="logoinds"><i class="fa fa-sign-out"></i> Logout</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="right_atspartMid ng-scope">
        <div class="padding">
          <div class="col-md-12 inplay">
            <!-- <div class="marque_headpart">
                <marquee>{{this.matchModel.marqueText}} </marquee>
            </div> -->
            <div class="sport_blk newdesign">
              <div>
                <!-- Banner content -->
                <div class="banner-content">
                  <!-- Your banner HTML content goes here -->
                  <img
                    src="/assets/images/Banner_Desktop_View.jpg"
                    alt="Banner Image" />
                </div>

                <h1 class="binding">
                  {{ SportName
                  }}<span
                    class="starts-in-label ng-binding ng-scope"
                    *ngIf="false"
                    >Betting from 30mins before start</span
                  >
                </h1>

                <div class="bet_table ads_vjtab table-bordered">
                  <div class="">
                    <table class="table">
                      <tr class="blank_blk hidden-xs top_xtow">
                        <td class="mttd1"></td>
                        <td class="mttd2">&nbsp;</td>

                        <td class="mttd3">
                          <div class="betright">
                            <div class="betbox">1</div>
                            <div class="betbox">x</div>
                            <div class="betbox">2</div>
                          </div>
                        </td>
                      </tr>
                      <tr
                        *ngFor="
                          let match of GetMatchData | orderBy : 'match_date';
                          trackBy: trackByFn
                        ">
                        <td class="mttd1">
                          <!-- <a href="javascript:void(0)">
                                            <i *ngIf="match.is_favourite=='N'" class="fa fa-star-o" aria-hidden="true"
                                                (click)="setfavourite(match.market_id)"></i>
                                            <i *ngIf="match.is_favourite=='Y'" (click)="setUnfavourite(match.market_id)"
                                                class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                        <img src="assets/loginimages/greendot.png" alt="img"> -->
                          <a (click)="clickOnLogin()">{{ match.name }}</a>
                          <div class="commainbtv">
                            <span
                              *ngIf="match.day > 1"
                              class="commonbtn"
                              (click)="clickOnLogin()"
                              >{{ match.day }} Day
                            </span>
                          </div>
                        </td>

                        <td
                          class="mttd2"
                          [ngClass]="{
                            'betting-disableds': match.is_visible == '0'
                          }">
                          <span *ngIf="match.inplay"
                            ><i
                              *ngIf="match.inplay"
                              class="fa fa-television"></i
                            >{{ match.match_date | date : "dd MMM, HH:mm" }}
                            <a
                              class="fancyBtn"
                              *ngIf="match.is_fancy == 1"
                              (click)="clickOnLogin()">
                              <span class="commonbtn">F</span></a
                            ></span
                          >

                          <span *ngIf="!match.inplay"
                            >{{ match.match_date | date : "dd MMM, HH:mm" }}
                            <a
                              class="fancyBtn"
                              *ngIf="match.is_fancy == 1"
                              (click)="clickOnLogin()">
                              <span class="commonbtn">F</span></a
                            >
                          </span>
                        </td>

                        <td
                          class="mttd3"
                          [ngClass]="{
                            'betting-disableds': match.is_visible == '0'
                          }">
                          <div
                            class="betright"
                            *ngIf="match.runner_json != null">
                            <div class="betbox">
                              <a
                                (click)="
                                  CallBackLay(
                                    match.runner_json[0].back[0].price,
                                    1,
                                    match.name,
                                    match.runner_json[0].selectionId,
                                    match.marketid,
                                    i,
                                    match
                                  )
                                "
                                class="td_btn blue_btn"
                                [ngClass]="{
                                  callYlCss:
                                    match.runner_json[0] == undefined
                                      ? ''
                                      : match.runner_json[0].back[0].selected
                                }"
                                >{{
                                  match.runner_json[0] == undefined
                                    ? 0
                                    : match.runner_json[0].back[0].price
                                }}
                              </a>
                              <a
                                (click)="
                                  CallBackLay(
                                    match.runner_json[0].lay[0].price,
                                    0,
                                    match.name,
                                    match.runner_json[0].selectionId,
                                    match.marketid,
                                    i,
                                    match
                                  )
                                "
                                class="td_btn pink_btn"
                                href="javascript:void(0)"
                                [ngClass]="{
                                  callCYanCss:
                                    match.runner_json[0] == undefined
                                      ? ''
                                      : match.runner_json[0].lay[0].selected
                                }"
                                >{{
                                  match.runner_json[0] == undefined
                                    ? 0
                                    : match.runner_json[0].lay[0].price
                                }}
                              </a>
                            </div>

                            <div class="betbox" class="betbox">
                              <a
                                (click)="clickOnLogin()"
                                class="td_btn blue_btn"
                                data-toggle="collapse"
                                data-target="#demo{{ $index }}"
                                (click)="match.IsShow = true"
                                href="javascript:void(0)"
                                [ngClass]="{
                                  callYlCss:
                                    match.runner_json[2] == undefined
                                      ? ''
                                      : match.runner_json[2].back[0].selected
                                }"
                                >{{
                                  match.runner_json[2] == undefined
                                    ? "--"
                                    : match.runner_json[2].back[0].price
                                }}
                              </a>
                              <a
                                ng-init="SetCommonProperty(match.runner_json[2].id,match)"
                                (click)="clickOnLogin()"
                                class="td_btn pink_btn"
                                data-toggle="collapse"
                                data-target="#demo{{ $index }}"
                                href="javascript:void(0)"
                                [ngClass]="{
                                  callCYanCss:
                                    match.runner_json[2] == undefined
                                      ? ''
                                      : match.runner_json[2].lay[0].selected
                                }"
                                >{{
                                  match.runner_json[2] == undefined
                                    ? "--"
                                    : match.runner_json[2].lay[0].price
                                }}
                              </a>
                            </div>

                            <div class="betbox">
                              <a
                                (click)="clickOnLogin()"
                                class="td_btn blue_btn"
                                (click)="match.IsShow = true"
                                href="javascript:void(0)"
                                [ngClass]="{
                                  callYlCss:
                                    match.runner_json[1] == undefined
                                      ? ''
                                      : match.runner_json[1].back[0].selected
                                }"
                                >{{
                                  match.runner_json[1].back[0].price ==
                                  undefined
                                    ? 0
                                    : match.runner_json[1].back[0].price
                                }}
                              </a>
                              <a
                                (click)="clickOnLogin()"
                                class="td_btn pink_btn"
                                href="javascript:void(0)"
                                [ngClass]="{
                                  callCYanCss:
                                    match.runner_json[1] == undefined
                                      ? ''
                                      : match.runner_json[1].lay[0].selected
                                }"
                                >{{
                                  match.runner_json[1].lay[0].price == undefined
                                    ? 0
                                    : match.runner_json[1].lay[0].price
                                }}</a
                              >
                            </div>
                            <span
                              *ngIf="
                                match.status == 'SUSPENDED' ||
                                match.status == 'CLOSED'
                              "
                              [ngClass]="{
                                'mat-stat':
                                  match.inplay && match.status == 'OPEN',
                                'css-suspend1':
                                  match.status == 'SUSPENDED' ||
                                  match.status == 'CLOSED'
                              }">
                              <i
                                *ngIf="match.inplay && match.status == 'OPEN'"
                                class="fa fa-play-circle"
                                style="color: green"></i>
                              <p class="suspendecp">
                                {{
                                  match.status == "OPEN"
                                    ? match.inplay
                                      ? "In-Play"
                                      : ""
                                    : match.status
                                }}
                              </p>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="GetMatchDatalength == 0">
                        <td colspan="7" class="NorecordF">No Record Found.</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Casino Games -->
            <div>
              <ng-container>
                <!-- <a (click)="clickOnLogin()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/{{game.match_id}}.png" class="img-fluid">
              <div class="casinoicons-title"> {{game?.name}} </div>
              <div class="new-launch casino">
              </div>
            </div>
          </a> -->

                <!-- Andar Bhar -->
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/andar-bahar.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Andar Bhar</div>
                    <div class="new-launch casino">
                      <img src="assets/gameicons/new-launch-btn.png" alt="" />
                    </div>
                  </div>
                </a>

                <!-- Live Teen Patti -->
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/teenpatti.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">20-20 Teen Patti</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/teenpatti.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">1Day Teen Patti</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/teenpatti.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Test Teen Patti</div>
                  </div>
                </a>

                <!-- Lucky 7 -->
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/lucky7.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Lucky 7</div>
                  </div>
                </a>

                <!-- Live Poker -->
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/poker.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">20-20 Poker</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/poker.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">1 Day Poker</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/32cardsA.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">32 Cards A</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/32cardsB.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">32 Cards B</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img src="assets/gameicons/main/dt.jpg" class="img-fluid" />
                    <div class="casinoicons-title">1 Day Dragon Tiger</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img src="assets/gameicons/main/dt.jpg" class="img-fluid" />
                    <div class="casinoicons-title">20-20 Dragon Tiger</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/worli.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Instant Worli</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/bollywood-casino.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Bollywood Casino</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/aaa.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Amar Akabar Anthony</div>
                  </div>
                </a>
                <a (click)="clickOnLogin()">
                  <div
                    class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
                    <img
                      src="assets/gameicons/main/cmeter.jpg"
                      class="img-fluid" />
                    <div class="casinoicons-title">Casino Meter</div>
                  </div>
                </a>

                <!-- <a (click)="gotoTeenPattiLive()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-1003.png" class="img-fluid">
              <div class="casinoicons-title"> Teen Patti One Day Live </div>
            </div>
          </a>

          <a (click)="gotoUpLive()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-156.png" class="img-fluid">
              <div class="casinoicons-title"> 7Up-7Down Live </div>
            </div>
          </a>
          <a (click)="gotoAndarLive()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-157.png" class="img-fluid">
              <div class="casinoicons-title"> Andar Bahar Live </div>
            </div>
          </a>
          <a (click)="gotoCasinoLive()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-158.png" class="img-fluid">
              <div class="casinoicons-title"> 32 Cards Casino Live </div>
            </div>
          </a> -->
                <!-- <a (click)="gotoTeenPattiVirtual()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-1003.png" class="img-fluid">
              <div class="casinoicons-title"> Teen Patti One Day Virtual </div>
            </div>
          </a>
          <a (click)="gotoUpVirtal()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-156.png" class="img-fluid">
              <div class="casinoicons-title"> 7Up-7Down Virtual </div>
            </div>
          </a>
          <a (click)="gotoTeenPattiTwintyVirtual()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-1002.png" class="img-fluid">
              <div class="casinoicons-title"> Teen Patti T20 Virtual</div>
            </div>
          </a>
          <a (click)="gotoAndarVirtal()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-157.png" class="img-fluid">
              <div class="casinoicons-title"> Andar Bahar Virtual </div>
            </div>
          </a>
          <a (click)="gotoCasinoVirtal()">
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/-158.png" class="img-fluid">
              <div class="casinoicons-title"> 32 Cards Casino Virtual </div>
            </div>
          </a> -->
                <!-- NewLaunch -->
                <!-- <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/20-20poker.png" class="img-fluid">
              <div class="casinoicons-title"> 20-20 Poker </div>
            </div>
          </a> -->
                <!-- <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/20-20_dragon_tigar.png" class="img-fluid">
              <div class="casinoicons-title"> 20-20 Dragon Tigar </div>
            </div>
          </a>
          <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/6players.png" class="img-fluid">
              <div class="casinoicons-title"> 6 Players </div>
            </div>
          </a>
          <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/3cards_judgment.png" class="img-fluid">
              <div class="casinoicons-title"> 3 Cards Judgment </div>
            </div>
          </a> -->

                <!-- <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/1day_poker.png" class="img-fluid">
              <div class="casinoicons-title"> 1 Day Poker </div>
            </div>
          </a> -->
                <!-- <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/32card-A.png" class="img-fluid">
              <div class="casinoicons-title"> 32 card-A </div>
            </div>
          </a>
          <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/32card-b.png" class="img-fluid">
              <div class="casinoicons-title"> 32 card-B </div>
            </div>
          </a>
          <a>
            <div class="d-inline-block casino-group-1 m-t-10 m-b-10 casinoicons">
              <img src="assets/gameicons/amer_akabar_anthony.png" class="img-fluid">
              <div class="casinoicons-title"> Amer Akabar Anthony </div>
            </div>
          </a> -->
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
