.btn_out_margin button{
  margin:0 4px;
}

.onepagehitdiv table thead tr th{
  background: #d7d7d8;
  padding: 10px;
}

.btn_color_out button{
  background:#497958;
  border-color:transparent;
}

.total-box h1 {
  margin-right: 30px;
  display: inline-block;
}

.total-box {
  background-color: rgb(237, 253, 254);
  text-align: center;
  margin-top: 15px;
  color: rgb(167, 216, 253);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  padding: 5px;
}

.total-green {
  font-size: 20px;
}

.total-green {
  color: rgb(129, 193, 57);
  font-size: 22px !important;
}

.total-red {
  font-size: 20px;
  text-align: right;
}

.total-red {
  display: inline-block;
  color: rgb(254, 84, 84);
  font-size: 22px !important;
}
.green{
  color: green;
}
.red{
  color: red;
}

.binding {
  font-size: 26px;
  padding: 15px 0;
  border-bottom: solid 1px #99a1a4;
  margin-bottom: 10px;
  padding-bottom: 7px;
}
