.backtd {background: #a6d8ff; text-align: center;}
.laytd {background: #fac9d1; text-align: center;}
.matchbaklay_tr {background: #fff;}
.match_titals {
  color: #212529;
  padding: 8px 10px;
  display: inline-block;
  width: 100%;
}
.tablethead_top {
  background: #ededed;}
.clearfix {
  clear: both;
  display: block;
}
.mtitle {
  float: left;
  width: 35%;
  min-height: 50px;
  padding-top: 4px;
  padding-left: 10px;
  margin-right: 21%;
  font-size: 14px;
  padding-right: 22px;
  position: relative;
}
.blockn {
  text-align: center;
  float: left;
  width: 11.5%;
}
.fancylist .blockn span {
  font-weight: 600;
  display: block;
  font-size: 13px;
}
.fancylist .blockn span {
  font-weight: 600;
  display: block;
  font-size: 13px;
}
h2.fancyhead {
  font-size: 21px;
}
.fancy .mtitle .mtitletxt {    display: inline-block;
  vertical-align: middle;
  width: 94%;
}
.ses-fan-box .mtitle {
  background: #fff;
}
.sport-high.fancyListDiv {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
.ball-msg-box h1 {
  top: 0 !important;
  font-size: 14px;
  color: #111;
  margin-top: 0;
  line-height: 50px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fancyClass .lay-cell {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #fac9d1;
}
.fancyClass .lay-cell, .fancyClass .back-cell {
  font-weight: 600;
  font-size: 13px;
}
.fancyClass .lay-cell + .disab-btn {
  background: #fac9d1;
  font-size: 13px;
  min-height: 25px;
  font-weight: 400;
  color: #000;
}

.fancyClass .disab-btn {
  width: 100%;
  text-align: center;
  background: #ddd;
}
.blockn {
  text-align: center;
  float: left;
  width: 11.5%;
}
.ses-fan-box .noblock {
  background: #fac9d1;
}
.ses-fan-box {
  width: 100%;
  display: inline-block;
}
.ses-fan-box .noblock {
  background: #fac9d1;
}
.fancyClass .lay-cell, .fancyClass .back-cell {
  font-weight: 600;
  font-size: 13px;
}
.fancyClass .back-cell {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #a6d8ff;
}
.fancyClass .back-cell + .disab-btn {
  background: #a6d8ff;
  font-size: 13px;
  min-height: 25px;
  font-weight: 400;
  color: #000;
}

.fancyClass .disab-btn {
  width: 100%;
  text-align: center;
  background: #ddd;
}
button {
  outline: none!important;
  border: 0;
  background: transparent;
}
.ses-fan-box .yesblock {
  background: #a6d8ff;
}
.max-bet-mrt {
  padding-left: 10px;
  display: inline-block;
  font-size: 12px;
  color: #807d7d;
  margin-top: 7px;
}
.ball-msg-box h1 {
  top: 0 !important;
  font-size: 14px;
  color: #111;
  margin-top: 0;
  line-height: 50px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ball-msg-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(2,33,84,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: solid 1px #ec3030;
  min-height: 40px;
}
.ball-msg-box {
  width: 65% !important;
  left: auto !important;
  right: 0;
  background-color: #e6e6e6;
  border: none;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.fancy {
  background-color: #e3f3fe;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding-bottom: 0;
  color: #191919;
  margin-top: 5px;
  float: left;
  position: relative;
  width: 100%;
}
.fancy {
  background: #f3f3f3;
  margin-top: 0px;
  border: 1px solid #dedede;
}
.fancy .mtitle {
  display: table;
}
.bet_table table {
  margin: 0;
  color: #000;
  font-size: 13px;
}
.matchbaklay_tr strong {
  font-size: 13px;
}
thead.tablethead_top th {
  font-size: 14px;
}
.green{
  color: green;
}
.red{
  color: red;
}
.betopen_part h3 {
  font-size: 22px;
}
.betopen_part {
  float: left;
}
.betopen_partsecond{
  float: right;

}
.betopen_partsecond h3{
  font-size: 22px;
}
.tb .matchOdsPlayList {
  background: #fff;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 1px solid #ddd;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
.text-left {
  text-align: left!important;
}
table {
  border-collapse: collapse;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
table.table.table.matchOdsPlayList {
  background: white;
}
table.table.table.matchOdsPlayList {
  background: white;
}
.secondcard{
  margin-top: 10px;
  margin-bottom: 15px;

}

.match-centre {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.match-centre .event-header {
  position: relative;
}
.match-centre .event-header h1 {
  background-color: #09262b;
  border-bottom: none;
  color: #fff;
  margin: 10px 0 0;
  text-indent: 10px;
  padding: 10px 0 10px 0;
  font-size: 18px;

}
.match-centre .event-header h1 .apl-icon-custom-play {
  color: #fff;
  float: left;
  margin-top: 0;
  top: 0;
}
.match-centre .event-header .match-stats-body-button {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #fff;
  cursor: pointer;
}

.match-centre .event-header .match-stats-body-button.active:before {
  content: '\F078';}

.match-centre .match-centre-header,
.match-centre .match-centre-body {
  border: 1px solid #ddd;
  display: flex;
  padding: 0 10px;
}
.match-centre .match-centre-header > div,
.match-centre .match-centre-body > div {
  flex: 1;
  width: 50%;
}
.match-centre .match-centre-header > div:last-child,
.match-centre .match-centre-body > div:last-child {
  margin-left: 10px;
}
.match-centre .match-centre-header table,
.match-centre .match-centre-body table {
  border-collapse: collapse;
}
.match-centre .match-centre-header {
  border-width: 0 1px;
  padding-top: 10px;
}
.match-centre .match-centre-header .toss h2 {
  color: #0f2327;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 6px;
}
.match-centre .match-centre-header .toss p {
  margin: -6px 0 6px !important;
  font-weight: bold;     font-size: 12px;
}
.match-centre .match-centre-header table {
  margin-bottom: 6px;
}
.match-centre .match-centre-header table th:not(:last-child),
.match-centre .match-centre-header table td:not(:last-child) {
  border-right: 1px solid #ddd;
}
.match-centre .match-centre-body {
  border-width: 0 1px;
  padding-bottom: 10px;
  min-height: 165px;
}

.match-centre .match-centre-body .over p,
.match-centre .match-centre-body .over .over-detail {
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}
.match-centre .match-centre-body .over p {
  cursor: default;
  width: 99.9%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.match-centre .match-centre-body .over .over-detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 6px;
}
.match-centre .match-centre-body .over .over-detail > div {
  line-height: 26px;
  font-size: 12px;
}
.match-centre .match-centre-body .over .over-detail .balls {
  flex-grow: 1;
  margin: 0 0 6px 5px;
}
.match-centre .match-centre-body .over .over-detail .balls li {
  display: inline-block;
  font-weight: bold;
}
.match-centre .match-centre-body .over .over-detail .runs-score {
  display: flex;
}
.match-centre .match-centre-body .over .over-detail .runs-score div {
  padding: 0 5px 0 0;
  line-height: 32px;     font-size: 12px;
}
.match-centre .match-centre-body .over .over-detail .runs-score div::before {
  content: '|';
  color: #ddd;
  padding: 0 5px 0 0;
}
.match-centre .match-centre-body .over .ball {
  color: #fff;
  font-weight: bold;
  border-radius: 14px;
  min-width: 21px;
  min-height: 20px;
  text-align: center;
  padding: 1px 4.5px;
  margin: 0 2px;
  font-size: 10px;
}
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_0 {
  background-color: #999;
  border: 1px solid #999;
}
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_1,
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_2,
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_3,
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_5 {
  background-color: #48a23c;
  border: 1px solid #48a23c;
}
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_4 {
  background-color: #2d90d4;
  border: 1px solid #2d90d4;
}
.match-centre .match-centre-body .over .ball.INFIELDBOUNDARY_6 {
  background-color: #601c78;
  border: 1px solid #601c78;
}
.match-centre .match-centre-body .over .ball.WICKET {
  background-color: #c9362b;
  border: 1px solid #c9362b;
}
.match-centre .match-centre-body .over .ball.NOBALL,
.match-centre .match-centre-body .over .ball.WIDE,
.match-centre .match-centre-body .over .ball.BYE,
.match-centre .match-centre-body .over .ball.LEGBYE {
  background-color: #c2ad7b;
  border: 1px solid #c2ad7b;
}
.match-centre .match-centre-header table,
.match-centre .match-centre-body table {
  margin-bottom: 0;     width: 100%;
}
.match-centre .match-centre-header table td, .match-centre .match-centre-header table th{   text-align: center;}
.match-centre .match-centre-header table td, .match-centre .match-centre-header table th,
.match-centre .match-centre-body table td{     padding: 6px; font-size: 12px;}
._align-center{ text-align:center}
.match-centre .match-centre-body table td:first-child {
  width: 40%;
}
.match-centre .match-centre-body .row-highlight td {
  background-color: #9fe0eb;
}
.match-centre .match-centre-body .row-highlight td:first-child {
  text-transform: uppercase;
}
.betopen_partsecond {
  background: #0a4f88;
  padding: 5px;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50px;
  align-items: center;
  margin-left: 24%;
  color: white;
  margin-right: 25%;
  margin-top: 10px;
}

.betopen_partsecond h3 {margin-bottom: 0px;}
select.popup-input.comm-inp{
  border-radius: 15px;
  width: 10%;
  height: 100%;

}
.formobil_toptxeind {
  font-size: 13px;
}
.size {
  font-size: 12px;
}
.mtitle .fa-list {
  float: right;
  padding-right: 15px;
  color: #333333 !important;
  position: absolute;
  right: 0;
  top: 17px;
}
.fancyleder {
  width: 65%;
  float: right;
  position: relative;
  top: -6px;
  border-left: 1px solid #dddcdc;
  border-right: 1px solid #dddcdc;
  border-bottom: 2px solid #dddcdc;
  text-align: center;
  background: #fff;
}
.fancyleder .market-listing-table {
  margin-bottom: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 1px solid #ddd;
}

.fancyleder td, .fancyleder th {
  border-right: 1px solid #ddd;
  min-height: 20px;
  text-align: center;
  font-size: 12px !important;
  padding: 4px;
}
.gray_bg { background: #f3f3f3 !important; color: #000 !important; }
.pink_bg { background: #fac9d1 !important; color: #000 !important; }
.blue_bg { background: #a6d8ff  !important; color: #000 !important; }


// ------------------------------new casino game-------------
.tablecasiono{
  padding:7px 0px;
}
td.team_name small {
  display: block;
  color: #f00;
  font-size: 12px;
}
td.team_name small strong {
  color: #f00;
  display: inline-block;
  text-align: left !important;
  font-weight: 500;
}
.number10result {
  margin: 10px 0px;
}
.number-system {
  position: relative;
  display: inline-block;
  width: 10%;
  text-align: center;
  background-color: #71bbf0;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 20px 10px;
}
.number-system-worli {
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: center;
  background-color: #71bbf0;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 20px 10px;
}
.number-system-worli2 {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: #71bbf0;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 20px 10px;
}
.number-top {
  border: solid 1px #ddd;
  padding: 10px;
}
.number-odd {
  font-size: 40px;
  display: block;
  font-weight: 600;
}
.number-odd-worli {
  font-size: 30px;
  display: block;
  font-weight: 600;
}
.number-size {
  font-size: 15px;
  display: block;
}
.color-black {
  color: #000;
  cursor: pointer;
}
table.table.market-listing-table th,
table.table.market-listing-table td {
  font-size: 12px;
  padding: 6px;
  text-align: center;
}
.modal-dialog.card-32 {
  max-width: 950px !important;
}
.text-info-point {
  color: blue;
  font-size: 15px !important;
  font-weight: 600;
}
.winner-details-info {
  border: solid 1px #ddd;
  padding: 10px;
  background-color: #ddd;
}

//  ------------------dragon-tiger------------
.dragon-section {
  border-right: solid 2px #848181;
}
.dragon-text {
  color: red;
  font-size: 20px;
}
.tiger-text {
  color: #4583a2;
  font-size: 20px;
}
.odd-event-text {
  font-size: 13px;
}
.min-max-class {
  text-align: right;
  margin: 10px 0px;
}
.min-value {
  padding-right: 10px;
  font-size: 17px;
}
.max-value {
  padding-left: 10px;
  font-size: 17px;
}
.dragon-tigershowcard {
  display: inline-block;
}
.card-inner img {
  width: 35px;
}
.card-dragon-padding {
  margin-right: 20px;
}
.low-high-btn.DDL {
  font-size: 15px !important;
}
.card-img-casi{
    margin-left: 10px;
    width:52px !important;
    border-radius: 5px;;

}

// ---------------------casino meter------------------

.card-show-casino-meter{
  text-align: center;
    padding: 10px;
    display: block;
    background-color: #ddd;
    margin-bottom: 4px;
}
.card-icon-meter{
  width:50px;
  padding: 4px;
  border-radius: 6px;
}
.cards-tag{
   font-size: 20px;
}
.cards-total-meter{
  font-size: 18px;
  margin-right: 10px;
  color: #0088cc;
}

