top-bar {
    // display: block;
    // height: 30px;
    // background: #fff;
    // border-bottom: 1px solid #ddd;
    // font-size: 12px;
    // line-height: 17px;
    // font-family: Lato, Avenir, Verdana, Nunito;
    background: linear-gradient(-180deg,#184438 0, #14805e 100%);
    line-height: 30px;
    position: fixed;
    z-index: 1018;
    width: 100%;
    border-top: white solid 1px;
}